<form method="post" action="{{ path('sintoma_delete', {'id': sintoma.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sintoma.id) }}">
    <button class="btn">Delete</button>
</form>
