{% extends 'base.html.twig' %}

{% block title %}Sintomas COVID-19{% endblock %}
{% block nav %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Editar Sintoma</h1>

    {{ include('sintoma/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
