{% extends 'base.html.twig' %}

{% block title %}Nuevo Sintoma{% endblock %}
{% block nav %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Ingresar nuevo Sintoma</h1>

    {{ include('sintoma/_form.html.twig') }}
    
{% endblock %}
