{% extends 'base.html.twig' %}

{% block title %}Edit UserSintomas{% endblock %}

{% block body %}
    <h1>Edit UserSintomas</h1>

    {{ include('user_sintomas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_sintomas_index') }}">back to list</a>

    {{ include('user_sintomas/_delete_form.html.twig') }}
{% endblock %}
