{% extends 'base.html.twig' %}

{% block title %}New UserSintomas{% endblock %}

{% block body %}
    <h1>Create new UserSintomas</h1>

    {{ include('user_sintomas/_form.html.twig') }}

    <a href="{{ path('dashboard') }}">back to list</a>
{% endblock %}
