{% extends 'base.html.twig' %}

{% block title %}Covid-19 Sintomas{% endblock %}

{% block nav %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% block body %}

    <h1>Nuevo sintoma</h1>

    {{ include('user_sintomas/_form.html.twig') }}

    <a href="{{ path('dashboard') }}">Atras</a>
{% endblock %}
